{% extends "base.html" %}
<!DOCTYPE html>
<html>
   <head>
    {% block head %}
      <title>Custom Visualization</title>
      {{ super() }}
   </head>
   {% endblock %}
   {% block nav %}
     {{ super() }}
   {% endblock %}
   {% block content %}
       <div class="main-panel container-fluid panel-height" style="padding-top: 50px;">
            <h2 class="title">Custom Visualization</h2>
         <div class="row">
            <div class="col-sm-6">
               <div class="row centerize">
                  <select class="form-control cv_form_table" id="table1"></select>
                  <select class="form-control cv_form_field" id="key1"></select>
                  <select class="form-control cv_form_type" id="type1"></select>
                  <button id="adv1_confirm" class="btn btn-secondary">Confirm</button>
               </div>
                <div id="adv1" class="card cv_chart"></div>
            </div>
               <div class="col-sm-6">
                  <div class="row centerize">
                  <select class="form-control cv_form_table" id="table2"></select>
                  <select class="form-control cv_form_field" id="key2"></select>
                  <select class="form-control cv_form_type" id="type2"></select>
                  <button id="adv2_confirm" class="btn btn-secondary">Confirm</button>
               </div>
                  <div id="adv2" class="card cv_chart"></div>
               </div>
         </div>
      </div>
    {% endblock %}

    {% block footer %}
      {{ super() }}
      <script src="https://www.distributedgenomics.ca/static/exporting.js"></script>
      <script src="https://www.distributedgenomics.ca/static/offline-exporting.js"></script>
      <script src="{{prepend_path}}/static/dist/custom_visualization.js"></script>
    {% endblock %}
</html>