{% extends "base.html" %}
<!DOCTYPE html>
<html>
   <head>
    {% block head %}
      <title>CanDIG Dashboard</title>
      {{ super() }}
    {% endblock %}
   </head>
   {% block nav %}
     {{ super() }}
   {% endblock %}

   {% block content %}
      <div id="candig" class="main-panel container-fluid" style="padding-top: 80px;">
          <div class="row">
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body">
                          <div id="queryStatus" style="height: 200px; auto;">
                              <div class="loader_bar"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body">
                          <div id="responseToTreatment" style="height: 200px; auto;">
                              <div class="loader_bar"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body">
                          <div id="hospitals" style="height: 200px; auto;">
                              <div class="loader_bar"></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card">
                      <div class="card-body">
                          <div id="therapeuticToResponses" style="height: 200px; auto;">
                              <div class="loader_bar"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="margin-top: 20px; margin-bottom:20px">
              <div class="col-sm-6">
                  <div class="card" style="height: 30rem">
                      <div id="timelineSamples">
                          <div class="loader_bar"></div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="card" style="height: 30rem">
                      <div id="cancerTypes">
                          <div class="loader_bar"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div class="card" style="height: 30rem;">
                      <div id="drugScatter">
                          <div class="loader_bar"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   {% endblock %}

    {% block footer %}
      {{ super() }}
      <script src="https://www.distributedgenomics.ca/static/drilldown.js"></script>
      <script src="{{prepend_path}}/static/dist/dashboard.js"></script>
    {% endblock %}
</html>