language: python
python:
  - "2.7"
sudo: false

cache:
  directories:
    - $HOME/.cache/pip
    - /tmp/proto3.3.2

install:
  - pip install pip --upgrade
# RDFLib requres html5lib;  html5lib requires setuptools version 18.5 or above;
  - pip install -U setuptools
  - easy_install distribute
  - pip install --upgrade distribute
  - python setup.py sdist
  - pip install dist/ga4gh*.tar.gz -c constraints.txt
# every installable in setup.py's entry_points should be tested here
  - ga4gh_configtest --version
  - ga4gh_server --version
  - ga4gh_repo --version

before_script:
  - pip install -r requirements.txt
  - python scripts/build_test_data.py 
    
before_install:
    - bash tools/travis-install-protoc.sh 3.3.2
    - export PATH=/tmp/proto3.3.2/bin:$PATH

# run_tests.py runs everything under the script: tag so only put commands
# under it that we want to run (and want to be able to run) as local tests
script: 
  - flake8 configtest_dev.py convert_error_code.py
           repo_dev.py server_dev.py
           setup.py
           tests ga4gh scripts
  - python -mnose tests 
              --with-coverage --cover-package ga4gh.server
              --cover-inclusive --cover-min-percentage 80
              --cover-branches --cover-erase
  - make clean -C docs
  - make -C docs

after_success:
# run codecov
  - bash <(curl -s https://codecov.io/bash)
