# This file lists the requirements needed to develop on ga4gh/ga4gh-server.

# Include the requirements.txt file
-r requirements.txt -c constraints.txt

### This section is for dependencies of the libraries ###
# these libraries are the set listed by pipdeptree -f -w
# that are dependencies of libraries listed in the next section
# and are not already listed in requirements.txt

python-dateutil==2.8.1
PyYAML==5.3

### This section is for the actual libraries ###
# we import these libraries somewhere in the codebase but
# do not import them in any code that can be reached via 
# an executable that we ship

nose
pep8
flake8==3.7.9
coverage
selenium==3.141.0

PyVCF==0.6.8
freezegun==0.3.15
# guppy==0.1.10
# snakefood==1.4
Sphinx==1.4.6
sphinx_rtd_theme

# For client-related test suite
git+git://github.com/CanDIG/candig-client.git@2to3#egg=candig_client

# For ingesting various metadata
git+git://github.com/CanDIG/candig-ingest.git@2to3#egg=candig_ingest
