<!DOCTYPE html>
<html>
   <head>
      <title>Candig server</title>
      <link rel=stylesheet type=text/css href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/drilldown.js"></script>
      <style>
         .single {
         background-color: olive;
         }
         .double {
         background-color: aqua;
         }
         #backButton {
           border-radius: 4px;
           padding: 8px;
           border: none;
           font-size: 12px;
           background-color: #2eacd1;
           color: white;
           position: absolute;
           top: 10px;
           right: 10px;
           cursor: pointer;
         }
         .invisible {
         display: none;
         }
         .card {
         padding-top: 0.5rem !important;
         padding-left: 0.25rem !important;
         }
      </style>
   </head>
   <body>

        <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-light">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="candig">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gene_search">Gene search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="candig_patients">Patient overview</a>
        </li>
      </ul>
    </nav>
      <div class="container-fluid">
      <h2>Candig Dashboard</h2>
      <div>
      <div class="row" style="margin-top:50px; margin-bottom:50px">
         <div class="col-sm-3">
            <div class="card" style="border:solid; padding: 1rem; height: 15rem">
               <div class="card-body">
                  <div id="queryStatus" style="max-width: 100%; height: 200px; auto;"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card" style="border:solid; padding: 1rem; height: 15rem">
               <div class="card-body">
                  <div id="responseToTreatment" style="max-width: 100%; height: 200px; auto;"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card" style="border:solid; padding: 1rem; height: 15rem">
               <div class="card-body">
                  <div id="hospitals" style="max-width: 100%; height: 200px; auto;"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="card" style="border:solid; padding: 1rem; height: 15rem">
               <div class="card-body">
                  <div id="therapeuticToResponses" style="max-width: 100%; height: 200px; auto;"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin-top:50px; margin-bottom:50px">
         <div class="col-sm-6">
            <div class="card" style="border:solid; padding: 1rem; height: 30rem">
               <div class="card-body">
                  <div id="timelineSamples"></div>
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="card" style="border:solid; padding: 1rem; height: 30rem">
               <div class="card-body">
                  <div id="cancerTypes" style="min-width: 310px; height: 400px; auto;"></div>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script type="text/javascript">
      var knownPeers;
      var queriedPeers;
      var success;
      
      var completeResponse = 0;
      var partialResponse = 0;
      var progressiveDisease = 0;
      var stableDisease = 0;
      var otherResponse = 0;
      
      var radiationTherapy = 0;
      var hormonalTherapy = 0;
      var surgery = 0;
      var immunotherapy = 0;
      var chemotherapy = 0;
      var otherTherapy = 0;
      
      var radiationResponse = [0, 0, 0, 0, 0];
      var hormonalResponse = [0, 0, 0, 0, 0];
      var surgeryResponse = [0, 0, 0, 0, 0];
      var immunoResponse = [0, 0, 0, 0, 0];
      var chemoResponse = [0, 0, 0, 0, 0];
      var otherTherapeuticResponse = [0, 0, 0, 0, 0];
      
      var treatments;
      
      var cancerList = [];
      var drugList = [];
      var objectDrugList = [];
      
      var cancerTypesList = ["Bladder cancer", "Lung cancer", "Brain cancer", "Melanoma", "Breast cancer", "Non-Hodgkin lymphoma", "Cervical cancer", "Ovarian cancer", "Colorectal cancer", "Pancreatic cancer", "Esophageal cancer", "Prostate cancer", "Kidney cancer", "Skin cancer", "Leukemia", "Thyroid cancer", "Liver cancer", "Uterine cancer"];
      
      var cancerTypeFreq = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      
      var drugList = Array(18).join(".").split("."); //Initialize an emptry string array that has 18 empty strings.
      
      
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "treatments/search", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.send(JSON.stringify({
          'datasetId': 'WyJNRVRBREFUQSJd'
      }));
      xhr.onload = function() {
          var data = JSON.parse(this.responseText);
          knownPeers = data['status']['Known peers'];
          queriedPeers = data['status']['Queried peers'];
          success = data['status']['Successful communications'];
          var queryStatusSeriesArray = highChartSeriesObjectMaker(["Known Peers", "Queried Peers", "Successful Communications"], [knownPeers, queriedPeers, success]);
          singleLayerDrawer("queryStatus", 'bar', 'Server status', queryStatusSeriesArray);


          samplesFetcher();
      
          cancerTypeDruglistFetcher();
          treatments = data['results'][0]['treatments'];
          treatmentsFetcher(treatments);

      }

      function highChartSeriesObjectMaker(nameArray, dataArray){
        var tempObj = {};
        var seriesObjList = [];
        var tempDataArray = [];
            for (var i = 0; i < nameArray.length; i++){
                tempObj = {};
                //tempDataArray = [];
                tempObj['name'] = nameArray[i];
                //tempDataArray.push(dataArray[i]);
                tempObj['y'] = dataArray[i];
                seriesObjList.push(tempObj);
            }
            return seriesObjList;
      }

      function freqCounter(arrayToCount){
          result = {};

          for (var j = 0; j < arrayToCount.length; j++) {
              if (!result[arrayToCount[j]]) {
                  result[arrayToCount[j]] = 0;
              }
              ++result[arrayToCount[j]];
          }

          return result;
      }

      
      function treatmentsFetcher(treatments){
          for (var i = 0; i < treatments.length; i++) {
                  if (treatments[i]['responseToTreatment'] == "Complete Response") {
                      completeResponse++;
                  } else if (treatments[i]['responseToTreatment'] == "Partial Response") {
                      partialResponse++;
                  } else if (treatments[i]['responseToTreatment'] == "Progressive Disease") {
                      progressiveDisease++;
                  } else if (treatments[i]['responseToTreatment'] == "Stable Disease") {
                      stableDisease++;
                  } else {
                      otherResponse++;
                  }
              }
      
          for (var i = 0; i < treatments.length; i++) {
              if (treatments[i]['therapeuticModality'] == "Radiation therapy") {
                  radiationTherapy++;
                  responseTypeCalc(radiationResponse, treatments[i]);
              } else if (treatments[i]['therapeuticModality'] == "Hormonal therapy") {
                  hormonalTherapy++;
                  responseTypeCalc(hormonalResponse, treatments[i]);
              } else if (treatments[i]['therapeuticModality'] == "Surgery") {
                  surgery++;
                  responseTypeCalc(surgeryResponse, treatments[i]);            
              } else if (treatments[i]['therapeuticModality'] == "Immunotherapy") {
                  immunotherapy++;
                  responseTypeCalc(immunoResponse, treatments[i]);            
              } else if (treatments[i]['therapeuticModality'] == "Chemotherapy") {
                  chemotherapy++;
                  responseTypeCalc(chemoResponse, treatments[i]);            
              } else {
                  otherTherapy++;
                  responseTypeCalc(otherTherapeuticResponse, treatments[i]);            
              }
          }
      
          therapeuticTypeDrawer();

          var treatmentsSeriesArray = highChartSeriesObjectMaker( ["Complete Response", "Partial Response", "Progressive Disease", "Stable Disease", "Other"], [completeResponse, partialResponse, progressiveDisease, stableDisease, otherResponse]);
          singleLayerDrawer("responseToTreatment", 'bar', 'Response to treatments', treatmentsSeriesArray);      
        }
       
      function samplesFetcher() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "samples/search", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.send(JSON.stringify({
              'datasetId': 'WyJNRVRBREFUQSJd'
          }));
          xhr.onload = function() {
              var data = JSON.parse(this.responseText);
      
              var sampleDataset = data['results'][0]['samples'];
              var tempArray = [];
              var tempObj;

              for (var i = 0; i < sampleDataset.length; i++) {
                  tempArray.push(sampleDataset[i]['collectionHospital']);
              }

              tempObj = freqCounter(tempArray);
              var listOfHospitals = Object.keys(result);
              var listOfHospitalNumber = Object.values(result);

              var tempIndex = listOfHospitals.indexOf("undefined");
              if (tempIndex !== -1) {listOfHospitals[tempIndex] = 'Other'};


              var hospitalNewArray = highChartSeriesObjectMaker(listOfHospitals, listOfHospitalNumber);
              hospitalNewArray.sort(function (a, b) {return b.y - a.y});
              singleLayerDrawer("hospitals", 'bar', 'Hospital distribution', hospitalNewArray);


              var years = ['2003 or earlier', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'];
              var yearsCount = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
              var cumulativeYearCounts = [0];
              var misCount = 0;
      
              for (var i = 0; i < sampleDataset.length; i++) {
                  var tempDate = sampleDataset[i]['collectionDate'];
      
                  try {
                      var newDate = tempDate.substr(tempDate.length - 4);
      
                      for (var j = 0; j < years.length; j++) {
                          if (newDate <= years[0]) {
                              yearsCount[0]++;
                          } else if (newDate == years[j]) {
                              yearsCount[years.indexOf(newDate)]++
                          }
                      }
                  } catch (err) {
                      misCount++;
                  }
      
              }
      
              yearsCount.forEach(function(elementToAdd, index) {
                  var newElement = cumulativeYearCounts[index] + elementToAdd;
                  cumulativeYearCounts.push(newElement);
              });
              cumulativeYearCounts.shift();
      
              timelineDrawer(yearsCount, years, cumulativeYearCounts);
      
          }
      }
      
          // This function calculates the cumulative sum over the years
          function timelineDrawer(yearsCount, years, cumulativeData) {
              Highcharts.chart('timelineSamples', {
                  chart: {
                      type: 'area'
                  },
                  title: {
                      text: 'Samples received by years'
                  },
                  credits: {
                      enabled: false
                  },
                  xAxis: {
                      categories: years,
                      tickmarkPlacement: 'on',
                      title: {
                          enabled: false
                      }
                  },
                  yAxis: {
                      title: {
                          text: ''
                      },
                      labels: {
                          formatter: function() {
                              return this.value;
                          }
                      }
                  },
                  tooltip: {
                      split: true,
                      valueSuffix: ''
                  },
                  plotOptions: {
                      area: {
                          stacking: 'normal',
                          lineColor: '#666666',
                          lineWidth: 1,
                          marker: {
                              lineWidth: 1,
                              lineColor: '#666666'
                          }
                      }
                  },
                  series: [{
                      type: 'column',
                      name: 'new sample',
                      data: yearsCount
                  }, {
                      type: 'line',
                      name: 'Cumulative samples',
                      data: cumulativeData
                  }]
              });
          }
  
      
      function responseTypeCalc(responseArray, treatment) {
          if (treatment['responseToTreatment'] == "Complete Response") {
              responseArray[0]++;
          } else if (treatment['responseToTreatment'] == "Partial Response") {
              responseArray[1]++;
          } else if (treatment['responseToTreatment'] == "Progressive Disease") {
              responseArray[2]++;
          } else if (treatment['responseToTreatment'] == "Stable Disease") {
              responseArray[3]++;
          } else {
              responseArray[4]++;
          }
      }
      
      
      function drillDownDrawer(elementId, titleText, seriesName, seriesList, drillDownList) {
          Highcharts.chart(elementId, {
              chart: {
                  type: 'bar'
              },
              title: {
                  text: titleText
              },
              credits: {
                      enabled: false
              },
              xAxis: {
                  type: 'category'
              },
      
              legend: {
                  enabled: false
              },
      
              plotOptions: {
                  series: {
                      borderWidth: 0,
                      dataLabels: {
                          enabled: true
                      }
                  }
              },
      
              series: [{
                  type: 'pie',
                  name: seriesName,
                  colorByPoint: true,
                  data: seriesList
              }],
              drilldown: {
                  series: drillDownList,
                  drillUpButton: {
                    position: {
                      x: 0,
                      y: -40
                    }
                  }
              }
          });
      }
      
      function cancerTypeDruglistFetcher() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "diagnoses/search", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.send(JSON.stringify({
              'datasetId': 'WyJNRVRBREFUQSJd'
          }));
          xhr.onload = function() {
              var data = JSON.parse(this.responseText);
              var diagnosesDatasets = data['results'][0]['diagnoses'];
              var result = {};
              var seriesList = [];
              var seriesObj = {};
              var drillDownList = [];
              var drillDownObj = {};
      
              for (var i = 0; i < diagnosesDatasets.length; i++){
                  var currCancer = diagnosesDatasets[i]['cancerType'];
                  drugList[cancerTypesList.indexOf(currCancer)] += treatments[i]['drugListOrAgent'];
                  cancerTypeFreq[cancerTypesList.indexOf(currCancer)]++;
              }
      
              for (var i = 0; i < cancerTypesList.length; i++){
                  seriesObj = {};
                  seriesObj['name'] = cancerTypesList[i];
                  seriesObj['y'] = cancerTypeFreq[i];
                  seriesObj['drilldown'] = cancerTypesList[i];
                  seriesList.push(seriesObj);
              }
        
              for (var j = 0; j < drugList.length; j++){
                  drugList[j] = drugList[j].split(", ");
      
                  result = {};
                  for (var k = 0; k < drugList[j].length; k++){   
                      if (!result[drugList[j][k]])
                          result[drugList[j][k]] = 0;
                      ++result[drugList[j][k]];
                  }
                  objectDrugList.push(result);
              }
      
              for (var i = 0; i < objectDrugList.length; i++){
                  drillDownObj = {};
                  var tempData = Object.keys(objectDrugList[i]).map(function(key) {
                      return [String(key), objectDrugList[i][key]];
                  });
      
                  drillDownObj['id'] = cancerTypesList[i];
                  drillDownObj['data'] = tempData;
                  drillDownList.push(drillDownObj);
              }
      
              drillDownDrawer('cancerTypes', "cancer types and corresponding treatment drugs", 'cancer types', seriesList, drillDownList);
      
          }
      }

        function singleLayerDrawer(id, type, title, seriesArray){
              Highcharts.chart(id, {
                  chart: {
                      type: type
                  },
                  credits: {
                      enabled: false
                  },
                  title: {
                      text: title
                  },
                  xAxis: {
                      type: 'category'
                  },
                  legend: {
                      enabled: false
                  },
                  plotOptions: {
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true
                          }
                      }
                  },
                  series: [{
                    name: 'name',
                    colorByPoint: true,
                    data: seriesArray
                  }]
              });
              //Highcharts.setOptions(theme);
          }

          //TODO: Get rid of function therapeuticTypeDrawer
        
        function therapeuticTypeDrawer(){
              Highcharts.chart('therapeuticToResponses', {
                  chart: {
                      type: 'bar'
                  },
                  credits: {
                      enabled: false
                  },
                  title: {
                      text: 'Therapeutic types'
                  },
                  xAxis: {
                      type: 'category'
                  },
                  legend: {
                      enabled: false
                  },
                  plotOptions: {
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true
                          }
                      }
                  },
                  series: [{
                      //type: 'column',
                      name: 'main',
                      colorByPoint: true,
                      data: [{
                          name: 'radiationTherapy',
                          y: radiationTherapy,
                          drilldown: 'radiationTherapy'
                      }, {
                          name: 'hormonalTherapy',
                          y: hormonalTherapy,
                          drilldown: 'hormonalTherapy'
                      }, {
                          name: 'surgery',
                          y: surgery,
                          drilldown: 'surgery'
                      }, {
                          name: 'immunotherapy',
                          y: immunotherapy,
                          drilldown: 'immunotherapy'
                      }, {
                          name: 'chemotherapy',
                          y: chemotherapy,
                          drilldown: 'chemotherapy'
                      }, {
                          name: 'other',
                          y: otherTherapy,
                          drilldown: 'otherTherapy'
                      }]
                  }],
                  drilldown: {
                      series: [{
                          id: 'radiationTherapy',
                          data: [
                              ['Complete Response', radiationResponse[0]],
                              ['Partial Response', radiationResponse[1]],
                              ['Progressive Disease', radiationResponse[2]],
                              ['Stable Disease', radiationResponse[3]],
                              ['Other', radiationResponse[4]]
                          ]
                      }, {
                          id: 'hormonalTherapy',
                          data: [
                              ['Complete Response', hormonalResponse[0]],
                              ['Partial Response', hormonalResponse[1]],
                              ['Progressive Disease', hormonalResponse[2]],
                              ['Stable Disease', hormonalResponse[3]],
                              ['Other', hormonalResponse[4]]
                          ]
                      }, {
                          id: 'surgery',
                          data: [
                              ['Complete Response', surgeryResponse[0]],
                              ['Partial Response', surgeryResponse[1]],
                              ['Progressive Disease', surgeryResponse[2]],
                              ['Stable Disease', surgeryResponse[3]],
                              ['Other', surgeryResponse[4]]
                          ]
                      }, {
                          id: 'immunotherapy',
                          data: [
                              ['Complete Response', immunoResponse[0]],
                              ['Partial Response', immunoResponse[1]],
                              ['Progressive Disease', immunoResponse[2]],
                              ['Stable Disease', immunoResponse[3]],
                              ['Other', immunoResponse[4]]
                          ]
                      }, {
                          id: 'chemotherapy',
                          data: [
                              ['Complete Response', chemoResponse[0]],
                              ['Partial Response', chemoResponse[1]],
                              ['Progressive Disease', chemoResponse[2]],
                              ['Stable Disease', chemoResponse[3]],
                              ['Other', chemoResponse[4]]
                          ]
                      }, {
                          id: 'otherTherapy',
                          data: [
                              ['Complete Response', otherTherapeuticResponse[0]],
                              ['Partial Response', otherTherapeuticResponse[1]],
                              ['Progressive Disease', otherTherapeuticResponse[2]],
                              ['Stable Disease', otherTherapeuticResponse[3]],
                              ['Other', otherTherapeuticResponse[4]]
                          ]
                      }],
                      drillUpButton: {
                          position: {
                              x: 0,
                              y: -40
                          }
                      }

                  }
              });
          }

          
   </script>
</html>