<!DOCTYPE html>
<html>
   <head>
      <title>Candig server</title>
      <link rel=stylesheet type=text/css href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/drilldown.js"></script>
      <link rel=stylesheet type=text/css href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
      <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://igv.org/web/release/2.0.0-beta3/dist/igv.min.js"></script>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='dashboard.css') }}">
   </head>
   <!-- A grey horizontal navbar that becomes vertical on small screens -->
   <nav class="navbar navbar-expand-sm bg-light">
      <!-- Links -->
      <ul class="nav nav-tabs" id="topTabs">
         <li class="active">
            <a class="nav-link" data-toggle="tab" href="#candig">Homepage</a>
         </li>
         <li>
            <a class="nav-link" data-toggle="tab" href="#gene_search">Gene search</a>
         </li>
         <li>
            <a class="nav-link" data-toggle="tab" href="#candig_patients">Patient overview</a>
         </li>
          <li>
            <a class="nav-link" href="logout_oidc">Log out</a>
         </li>
<!--          A workaround to refresh the current tab, do not delete this tab with #refreshTab
 -->         <li>
            <a class="nav-link" data-toggle="tab" href="#refreshTab" style="display: none">refreshTab</a>
         </li>
      </ul>

      

        <div class="dropdown show">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Dataset: <div id="selectedDataset"></div>
          </a>

          <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuLink">
          </div>
        </div>
   </nav>
   <div class="tab-content" id="tab-content">
      <div id="candig" class="tab-pane fade in active">
         <div class="container-fluid">
            <h2>Candig Dashboard</h2>
            <div>
               <div class="row" style="margin-top:50px; margin-bottom:50px">
                  <div class="col-sm-3">
                     <div class="card" style="border:solid; padding: 1rem; height: 15rem">
                        <div class="card-body">
                           <div id="queryStatus" style="max-width: 100%; height: 200px; auto;"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="card" style="border:solid; padding: 1rem; height: 15rem">
                        <div class="card-body">
                           <div id="responseToTreatment" style="max-width: 100%; height: 200px; auto;"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="card" style="border:solid; padding: 1rem; height: 15rem">
                        <div class="card-body">
                           <div id="hospitals" style="max-width: 100%; height: 200px; auto;"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="card" style="border:solid; padding: 1rem; height: 15rem">
                        <div class="card-body">
                           <div id="therapeuticToResponses" style="max-width: 100%; height: 200px; auto;"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin-top:50px; margin-bottom:50px">
                  <div class="col-sm-6">
                     <div class="card" style="border:solid; padding: 1rem; height: 30rem">
                        <div class="card-body">
                           <div id="timelineSamples"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="card" style="border:solid; padding: 1rem; height: 30rem">
                        <div class="card-body">
                           <div id="cancerTypes" style="min-width: 310px; height: 400px; auto;"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="gene_search" class="tab-pane fade">
         <div class="container-fluid">
            <h2 style="text-align: center; margin-bottom: 100px" class="title" id="title">CanDIG 0.07 - Gene Search Tool</h2>
            <input type="text" id="request" name="search" placeholder="Search..">
            <button name="submit" onclick="submit()">Submit</button>
            <div class="loader" id="loader" style="display: none"></div>
            <table id="myTable"></table>
            <div id="igvSample" ></div>
         </div>
      </div>
      <div id="candig_patients" class="tab-pane fade">
        <div class="container-fluid">
         <h2 style="margin-bottom: 10px">CanDIG 0.07 - Overview of Patients</h2>
         <div class="row" style="margin-top:50px; margin-bottom:50px">
            <div class="col-sm-3">
               <div class="card">
                  <div id="genderGraph" style="max-width: 100%; height: 250px; auto;"></div>
               </div>
               <div class="card">
                  <div id="provinceGraph" style="max-width: 100%; height: 250px; auto;"></div>
               </div>
               <div class="card">
                  <div id="raceGraph" style="max-width: 100%; height: 250px; auto;"></div>
               </div>
            </div>
            <div class="col-sm-9">
               <table id="mytable"></table>
               <table id="patientTable"></table>
            </div>
         </div>
       </div>
      </div>
      <div id="candig_igv" class="tab-pane fade">
            <p class="show-time"></p>
      </div>
   </div>
   <script type="text/javascript">

      let datasetId;
      let finalDatasetName;
      let finalDatasetId;
      let activeTab;

      // $(document).on('click', '#refresh', function () {
      //     let currTab = activeTab.href.split('#')[1];
      //     $('#topTabs a[href="#' + "refreshTab" + '"]').tab('show');
      //     $('#topTabs a[href="#' + currTab + '"]').tab('show');

      // });


      $(window).load(function () {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "datasets/search", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.send(JSON.stringify({
          }));
          xhr.onload = function() {
              const data = JSON.parse(this.responseText);
              const listOfDatasetId = data['results'][0]['datasets'];

              finalDatasetName = [];
              finalDatasetId = [];
              let dropdown = document.getElementById("dropdown-menu");

              for (let i = 0; i < listOfDatasetId.length; i++) {
                  if (!finalDatasetId.includes(listOfDatasetId[i]['id'])){
                      finalDatasetId.push(listOfDatasetId[i]['id']);
                      finalDatasetName.push(listOfDatasetId[i]['name']);
                  }
              }
            // <a class="dropdown-item" href="#">Action</a>
            // <a class="dropdown-item" href="#">Another action</a>
            // <a class="dropdown-item" href="#">Something else here</a>
              for (let j = 0; j < finalDatasetId.length; j++) {
                  dropdown.innerHTML += '<a class="dropdown-item" id="refresh" href="javascript:void(0)" onclick="refreshDataset('+ j + ')">' + finalDatasetName[j] + '</a>'
              }

              datasetId = finalDatasetId[0];
              document.getElementById("selectedDataset").outerHTML = finalDatasetName[0];

              $('.nav-tabs a[href="#candig"]').tab('show');

          }

      });

      function refreshDataset(datasetIndex) {
          let currTab = activeTab.href.split('#')[1];
          $('#topTabs a[href="#' + "refreshTab" + '"]').tab('show');
          $('#topTabs a[href="#' + currTab + '"]').tab('show');
          document.getElementById("selectedDataset").outerHTML = finalDatasetName[datasetIndex];
      }

      // function refreshDataset(datasetIndex) {
      //     datasetId = finalDatasetId[datasetIndex];
      //     //console.log(activeTab.href.split('#')[1]);

      //     // var $link = $('li.active a[data-toggle="tab"]');
      //     // $link.parent().removeClass('active');
      //     // activeTab.parent().removeClass('active');
      //     // var tabLink = $link.attr('href');     
      //     let currTab = activeTab.href.split('#')[1];
      //     //$('#topTabs a[href="#' + currTab + '"]').tab('show');


      //     var $link = $('li.active a[data-toggle="tab"]');
      //     console.log($link);
      //     $link.parent().removeClass('active');
      //     var tabLink = $link.attr('href');
      //     $('.nav-tabs  a[href="' + tabLink + '"]').tab('show');
      // }

      // $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
      //     $('.show-time').html(new Date().toLocaleTimeString());
      // });
      
      $("a[href='#gene_search']").on('shown.bs.tab', function (e) {
          activeTab = e.target;
      })
      

      $("a[href='#candig']").on('shown.bs.tab', function (e) {
      
      activeTab = e.target;
      var treatments;
      var objectDrugList = [];
      var drugList = Array(18).join(".").split("."); //Initialize an emptry string array that has 18 empty strings.
      
      //var datasetId = '{{ datasetId }}';

      console.log(datasetId);    
      
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "treatments/search", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.send(JSON.stringify({
          'datasetId': datasetId
      }));
      xhr.onload = function() {
          var data = JSON.parse(this.responseText);
          var knownPeers = data['status']['Known peers'];
          var queriedPeers = data['status']['Queried peers'];
          var success = data['status']['Successful communications'];
          var queryStatusSeriesArray = highChartSeriesObjectMaker(["Known Peers", "Queried Peers", "Successful Communications"], [knownPeers, queriedPeers, success]);
          singleLayerDrawer("queryStatus", 'bar', 'Server status', queryStatusSeriesArray);
      
      
          samplesFetcher();
      
          cancerTypeDruglistFetcher();
          treatments = data['results'][0]['treatments'];
          treatmentsFetcher(treatments);
      
      }
      
      function highChartSeriesObjectMaker(nameArray, dataArray){
        var tempObj = {};
        var seriesObjList = [];
        var tempDataArray = [];
            for (var i = 0; i < nameArray.length; i++){
                tempObj = {};
                //tempDataArray = [];
                tempObj['name'] = nameArray[i];
                //tempDataArray.push(dataArray[i]);
                tempObj['y'] = dataArray[i];
                seriesObjList.push(tempObj);
            }
            return seriesObjList;
      }
      
      function freqCounter(arrayToCount){
          result = {};
      
          for (var j = 0; j < arrayToCount.length; j++) {
              if (!result[arrayToCount[j]]) {
                  result[arrayToCount[j]] = 0;
              }
              ++result[arrayToCount[j]];
          }
      
          return result;
      }
      
      
      function treatmentsFetcher(treatments){
      
          var responseArray = [];
          var therapeuticArray = [];
      
          for (var i = 0; i < treatments.length; i++) {
                responseArray.push(treatments[i]['responseToTreatment']);
                therapeuticArray.push(treatments[i]['therapeuticModality']);
          }
      
          var tempCats = Object.keys(freqCounter(responseArray));
          var tempVals = Object.values(freqCounter(responseArray));
      
          var theraCats = Object.keys(freqCounter(therapeuticArray));
          var theraVals = Object.values(freqCounter(therapeuticArray));
      
          var treatmentsSeriesArray = highChartSeriesObjectMaker(tempCats, tempVals);
          singleLayerDrawer("responseToTreatment", 'bar', 'Response to treatments', treatmentsSeriesArray);
      
          var therapeuticSeriesArray = highChartSeriesObjectMaker(theraCats, theraVals);
          singleLayerDrawer("therapeuticToResponses", 'bar', 'Therapeutic Types', therapeuticSeriesArray);              
        }
       
      function samplesFetcher() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "samples/search", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.send(JSON.stringify({
              'datasetId': datasetId
          }));
          xhr.onload = function() {
              var data = JSON.parse(this.responseText);
      
              var sampleDataset = data['results'][0]['samples'];
              var tempArray = [];
              var tempDateArray = [];
              var tempObj;
              var misCount;
      
              for (var i = 0; i < sampleDataset.length; i++) {
                  tempArray.push(sampleDataset[i]['collectionHospital']);
                  var tempDate = sampleDataset[i]['collectionDate'];
      
                  try {
                      var newDate = tempDate.substr(tempDate.length - 4);
                      tempDateArray.push(newDate);
                  } catch (err) {
                      misCount++;
                  }
      
              }
      
              tempObj = freqCounter(tempArray);
              var listOfHospitals = Object.keys(result);
              var listOfHospitalNumber = Object.values(result);
      
              var tempIndex = listOfHospitals.indexOf("undefined");
              if (tempIndex !== -1) {listOfHospitals[tempIndex] = 'Other'};
      
      
              var hospitalNewArray = highChartSeriesObjectMaker(listOfHospitals, listOfHospitalNumber);
              hospitalNewArray.sort(function (a, b) {return b.y - a.y});
              singleLayerDrawer("hospitals", 'bar', 'Hospital distribution', hospitalNewArray);
      
      
              var years = Object.keys(freqCounter(tempDateArray));
              var yearsCount = Object.values(freqCounter(tempDateArray));
      
              var cumulativeYearCounts = [0];
      
              yearsCount.forEach(function(elementToAdd, index) {
                  var newElement = cumulativeYearCounts[index] + elementToAdd;
                  cumulativeYearCounts.push(newElement);
              });
              cumulativeYearCounts.shift();
      
              timelineDrawer(yearsCount, years, cumulativeYearCounts);
      
          }
      }
      
          // This function calculates the cumulative sum over the years
          function timelineDrawer(yearsCount, years, cumulativeData) {
              Highcharts.chart('timelineSamples', {
                  chart: {
                      type: 'area'
                  },
                  title: {
                      text: 'Samples received by years'
                  },
                  credits: {
                      enabled: false
                  },
                  xAxis: {
                      categories: years,
                      tickmarkPlacement: 'on',
                      title: {
                          enabled: false
                      }
                  },
                  yAxis: {
                      title: {
                          text: ''
                      },
                      labels: {
                          formatter: function() {
                              return this.value;
                          }
                      }
                  },
                  tooltip: {
                      split: true,
                      valueSuffix: ''
                  },
                  plotOptions: {
                      area: {
                          stacking: 'normal',
                          lineColor: '#666666',
                          lineWidth: 1,
                          marker: {
                              lineWidth: 1,
                              lineColor: '#666666'
                          }
                      }
                  },
                  series: [{
                      type: 'column',
                      name: 'new sample',
                      data: yearsCount
                  }, {
                      type: 'line',
                      name: 'Cumulative samples',
                      data: cumulativeData
                  }]
              });
          }
      
      // may be used in future
      // function responseTypeCalc(responseArray, treatment) {
      //     if (treatment['responseToTreatment'] == "Complete Response") {
      //         responseArray[0]++;
      //     } else if (treatment['responseToTreatment'] == "Partial Response") {
      //         responseArray[1]++;
      //     } else if (treatment['responseToTreatment'] == "Progressive Disease") {
      //         responseArray[2]++;
      //     } else if (treatment['responseToTreatment'] == "Stable Disease") {
      //         responseArray[3]++;
      //     } else {
      //         responseArray[4]++;
      //     }
      // }
      
      
      function drillDownDrawer(elementId, titleText, seriesName, seriesList, drillDownList) {
          Highcharts.chart(elementId, {
              chart: {
                  type: 'bar'
              },
              title: {
                  text: titleText
              },
              credits: {
                      enabled: false
              },
              xAxis: {
                  type: 'category'
              },
      
              legend: {
                  enabled: false
              },
      
              plotOptions: {
                  series: {
                      borderWidth: 0,
                      dataLabels: {
                          enabled: true
                      }
                  }
              },
      
              series: [{
                  type: 'pie',
                  name: seriesName,
                  colorByPoint: true,
                  data: seriesList
              }],
              drilldown: {
                  series: drillDownList,
                  drillUpButton: {
                    position: {
                      x: 0,
                      y: -40
                    }
                  }
              }
          });
      }
      
      function cancerTypeDruglistFetcher() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "diagnoses/search", true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.send(JSON.stringify({
              'datasetId': datasetId
          }));
          xhr.onload = function() {
              var data = JSON.parse(this.responseText);
              var diagnosesDatasets = data['results'][0]['diagnoses'];
              var result = {};
              var seriesList = [];
              var seriesObj = {};
              var drillDownList = [];
              var drillDownObj = {};
              var tempCancerList = [];
      
              for (var i = 0; i < diagnosesDatasets.length; i++){
                  tempCancerList.push(diagnosesDatasets[i]['cancerType']);
              }
      
              var tempCancerObj = freqCounter(tempCancerList);
              var cancerTypesList = Object.keys(tempCancerObj);
              var cancerTypeFreq = Object.values(tempCancerObj);
      
              for (var i = 0; i < diagnosesDatasets.length; i++){
                  var currCancer = diagnosesDatasets[i]['cancerType'];
                  drugList[cancerTypesList.indexOf(currCancer)] += treatments[i]['drugListOrAgent'];
                  //cancerTypeFreq[cancerTypesList.indexOf(currCancer)]++;
              }
      
              for (var i = 0; i < cancerTypesList.length; i++){
                  seriesObj = {};
                  seriesObj['name'] = cancerTypesList[i];
                  seriesObj['y'] = cancerTypeFreq[i];
                  seriesObj['drilldown'] = cancerTypesList[i];
                  seriesList.push(seriesObj);
              }
        
              for (var j = 0; j < drugList.length; j++){
                  drugList[j] = drugList[j].split(", ");
      
                  result = {};
                  for (var k = 0; k < drugList[j].length; k++){   
                      if (!result[drugList[j][k]])
                          result[drugList[j][k]] = 0;
                      ++result[drugList[j][k]];
                  }
                  objectDrugList.push(result);
              }
      
              for (var i = 0; i < objectDrugList.length; i++){
                  drillDownObj = {};
                  var tempData = Object.keys(objectDrugList[i]).map(function(key) {
                      return [String(key), objectDrugList[i][key]];
                  });
      
                  drillDownObj['id'] = cancerTypesList[i];
                  drillDownObj['data'] = tempData;
                  drillDownList.push(drillDownObj);
              }
      
              drillDownDrawer('cancerTypes', "cancer types and corresponding treatment drugs", 'cancer types', seriesList, drillDownList);
      
          }
      }
      
        function singleLayerDrawer(id, type, title, seriesArray){
              Highcharts.chart(id, {
                  chart: {
                      type: type
                  },
                  credits: {
                      enabled: false
                  },
                  title: {
                      text: title
                  },
                  xAxis: {
                      type: 'category'
                  },
                  legend: {
                      enabled: false
                  },
                  plotOptions: {
                      series: {
                          borderWidth: 0,
                          dataLabels: {
                              enabled: true
                          }
                      }
                  },
                  series: [{
                    name: 'name',
                    colorByPoint: true,
                    data: seriesArray
                  }]
              });
              //Highcharts.setOptions(theme);
          }
      
          //TODO: Get rid of function therapeuticTypeDrawer
      });
      
      
            
      $("a[href='#candig_patients']").on('shown.bs.tab', function (e) {

      activeTab = e.target;
      patient_main();

      function patient_main(){
        if (document.getElementById('mytable').innerHTML != ""){
              var table = $("#mytable").DataTable();
              table.destroy();
              document.getElementById("mytable").innerHTML = "";          
        }

      var statusCode = 0;
      var listOfRace = [];
      var listOfProvinces = [];
      var listOfGenders = [];
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "patients/search", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.send(JSON.stringify({
          'datasetId': datasetId
      }));
      xhr.onload = function() {
          var data = JSON.parse(this.responseText);
      
          var patientsDataset = data['results'][0]['patients'];
      
          var tbl = $('<table/>').attr("id", "mytable");
      
          var th = '<thead><tr><th scope="col">Patient ID</th><th scope="col">Gender</th><th scope="col">Date of Death</th><th scope="col">Province of Residence</th> <th scope="col">Date of Birth</th><th scope="col">Race</th><th scope="col">OEE</th></tr></thead><tbody>';
      
          $("#mytable").append(th);
      
          for (var i = 0; i < patientsDataset.length; i++) {
              listOfRace.push(patientsDataset[i]["race"]);
              listOfProvinces.push(patientsDataset[i]["provinceOfResidence"]);
              listOfGenders.push(patientsDataset[i]["gender"]);
      
              var tr = "<tr>";
              var td0 = '<td scope="col">' + patientsDataset[i]["patientId"] + "</td>";
              var tdGender = '<td scope="col">' + patientsDataset[i]["gender"] + "</td>";
              var td1 = '<td scope="col">' + patientsDataset[i]["dateOfDeath"] + "</td>";
              var td2 = '<td scope="col">' + patientsDataset[i]["provinceOfResidence"] + "</td>";
              var td3 = '<td scope="col">' + patientsDataset[i]["dateOfBirth"] + "</td>";
              var td4 = '<td scope="col">' + patientsDataset[i]["race"] + "</td>";
              var td5 = '<td scope="col">' + patientsDataset[i]["occupationalOrEnvironmentalExposure"] + "</td>";
              var td6 = "</tr>";
      
              $("#mytable").append(tr + td0 + tdGender + td1 + td2 + td3 + td4 + td5 + td6);
          }
      
          categoriesDrawer("raceGraph", "Ethnic Groups", listOfRace);
          categoriesDrawer("provinceGraph", "Provinces", listOfProvinces);
          categoriesDrawer("genderGraph", "Genders", listOfGenders);
      
          $("#mytable").append('</tbody><tfoot><tr><th scope="col">Patient ID</th><th scope="col">Gender</th><th scope="col">Date of Death</th><th scope="col">Province of Residence</th> <th scope="col">Date of Birth</th><th scope="col">Race</th><th scope="col">OEE</th></tr></tfoot>');
      
          $(document).ready(function() {
              $('#mytable').DataTable({
                  initComplete: function () {
                      this.api().columns().every( function () {
                          var column = this;
                          var select = $('<select><option value=""></option></select>')
                              .appendTo( $(column.footer()).empty() )
                              .on( 'change', function () {
                                  var val = $.fn.dataTable.util.escapeRegex(
                                      $(this).val()
                                  );
           
                                  column
                                      .search( val ? '^'+val+'$' : '', true, false )
                                      .draw();
                              } );
           
                          column.data().unique().sort().each( function ( d, j ) {
                              select.append( '<option value="'+d+'">'+d+'</option>' )
                          } );
                      } );
                  }
              });
          });
      
          $('#mytable tbody').on('click', 'tr', function () {
              var table = $("#mytable").DataTable();
              var tempData = table.row( this ).data()[0];
              patientInfoFetcher(tempData);
          });
      
      }
      
        }
      

      function highChartSeriesObjectMaker(nameArray, dataArray){
        var tempObj = {};
        var seriesObjList = [];
        var tempDataArray = [];
            for (var i = 0; i < nameArray.length; i++){
                tempObj = {};
                //tempDataArray = [];
                tempObj['name'] = nameArray[i];
                //tempDataArray.push(dataArray[i]);
                tempObj['y'] = dataArray[i];
                seriesObjList.push(tempObj);
            }
            return seriesObjList;
      }
      
      function categoriesDrawer(elementId, titleText, arrayToDraw) {
          var tempCats = Object.keys(categoriesCounter(arrayToDraw));
          var tempVals = Object.values(categoriesCounter(arrayToDraw));
          var tempObjList = highChartSeriesObjectMaker(tempCats, tempVals);
          drillDownDrawer(elementId, titleText, tempCats, "", tempObjList, []);
      }
      
      function categoriesCounter(arrayToCount) {
          var result = {};
          for (var j = 0; j < arrayToCount.length; j++) {
              if (!result[arrayToCount[j]]) {
                  result[arrayToCount[j]] = 0;
              }
              result[arrayToCount[j]]++;
          }
          return result;
      }
      
      function drillDownDrawer(elementId, titleText, categories, seriesName, seriesList, drillDownList) {
        var lastSearch = "";
          Highcharts.chart(elementId, {
              chart: {
                  type: 'pie'
              },
              title: {
                  text: titleText
              },
              credits: {
                  enabled: false
              },
              xAxis: {
                  categories: categories
              },
      
              legend: {
                  enabled: false
              },
      
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      depth: 35,
                      dataLabels: {
                          enabled: true
                      },
                      point: {
                          events: {
                            click: function () {
                                if (lastSearch != this.name){
                                    $('#mytable').DataTable().search( this.name ).draw();
                                    lastSearch = this.name;
                                }
                                else if (lastSearch == this.name) {
                                    $('#mytable').DataTable().search( "" ).draw();
                                    lastSearch = "";
                                }
                            }
                          }
                      }
                  }
              },
      
              series: [{
                  // type: 'pie',
                  name: seriesName,
                  colorByPoint: true,
                  data: seriesList
              }],
              drilldown: {
                  series: drillDownList
              }
          });
      }
      
      function patientInfoFetcher(patientId) {
      
          if (statusCode == 1) {
              var table = $("#patientTable").DataTable();
              table.destroy();
              document.getElementById("patientTable").innerHTML = "";
          }

          var xhr = new XMLHttpRequest();
      
              xhr.open("POST", "samples/search", true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.setRequestHeader('Accept', 'application/json');
              xhr.send(JSON.stringify({
                  'datasetId': datasetId,
                  'patientId': patientId
              }));
              xhr.onload = function() {
                  var data = JSON.parse(this.responseText);
                  var sampleDataset = data['results'][0]['samples'];
      
                  xhr.open("POST", "treatments/search", true);
                  xhr.setRequestHeader('Content-Type', 'application/json');
                  xhr.setRequestHeader('Accept', 'application/json');
                  xhr.send(JSON.stringify({
                      'datasetId': datasetId,
                      'patientId': patientId
                  }));
                  xhr.onload = function() {
                      var tempRes = JSON.parse(this.responseText);
                      var treatmentDataset = tempRes['results'][0]['treatments'];
      
                      var tbl = $('<table/>').attr("id", "patientTable");
                      var th = '<thead><tr><th scope="col">Patient ID</th><th scope="col">Collection Hospital</th><th scope="col">Collection Date</th><th scope="col">Cancer Type</th><th scope="col">Response to treatment</th><th scope="col">Drug list</th><th scope="col">Therapeutic Modality </th></tr></thead><tbody>';
                      
                      $("#patientTable").append(th);
      
                      for (var i = 0; i < sampleDataset.length; i++) {
      
                          var tr = "<tr>";
                          var td0 = '<td scope="col">' + sampleDataset[i]["patientId"] + "</td>";
                          var td1 = '<td scope="col">' + sampleDataset[i]["collectionHospital"] + "</td>";
                          var td2 = '<td scope="col">' + sampleDataset[i]["collectionDate"] + "</td>";
                          var td7 = '<td scope="col">' + sampleDataset[i]["cancerType"] + "</td>";
      
                          var td3 = '<td scope="col">' + treatmentDataset[i]["responseToTreatment"] + "</td>";
                          var td4 = '<td scope="col">' + treatmentDataset[i]["drugListOrAgent"] + "</td>";
                          var td5 = '<td scope="col">' + treatmentDataset[i]["therapeuticModality"] + "</td>";
                          var td6 = "</tr>";
      
                          $("#patientTable").append(tr + td0 + td1 + td2 + td7 + td3 + td4 + td5 + td6);                
                      }
      
                      $("#patientTable").append('</tbody>')
      
                      $(document).ready(function() {
                          $("#patientTable").DataTable();
                          statusCode = 1;
                      });
      
                  }
              }
      
      }       
    });
      
      
      var statusCode = 0; // Initial value, table is empty
      
      function submit() {
      
        if (statusCode == 1) {
            var table = $('#myTable').DataTable();
            table.destroy();
        }
      
        document.getElementById("loader").style.display = "block";
        document.getElementById("myTable").innerHTML = "";
        var geneRequest = document.getElementById("request").value;
      
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://10.9.208.132:8000/variantsbygenesearch", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('Accept', 'application/json');
        xhr.send(JSON.stringify({
            'datasetId': 'WyJjb25jb3JkYW5jZSJd',
            'gene': geneRequest
        }));
        xhr.onload = function() {
            var data = JSON.parse(this.responseText);
            if (xhr.status == 200) {
                var geneDataset = data['results'][0];
                tableMaker(geneDataset);
                igvSearch(geneRequest);
                statusCode = 1; // The Dataset was created successfully
            } else {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myTable").innerHTML = "Sorry, but we are not able to locate the gene.";
                statusCode = -1; //The dataset failed to initialized.
            }
        }
      }

      function freqCounter(arrayToCount){
          result = {};
      
          for (var j = 0; j < arrayToCount.length; j++) {
              if (!result[arrayToCount[j]]) {
                  result[arrayToCount[j]] = 0;
              }
              ++result[arrayToCount[j]];
          }
      
          return result;
      }
      
      
      function igvSearch(locusName) {
        var div = document.getElementById('igvSample')
      
        var options = {
            locus: locusName,
      
            reference: {
                id: "hg19",
                fastaURL: "//igv.broadinstitute.org/genomes/seq/1kg_v37/human_g1k_v37_decoy.fasta",
                cytobandURL: "//igv.broadinstitute.org/genomes/seq/b37/b37_cytoband.txt"
            },
      
            tracks: [
                {
                    name: "Genes",
                    url: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed",
                    index: "//igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed.idx",
                    displayMode: "EXPANDED"
                }
            ]
        };
      
        browser = igv.createBrowser(div, options);
      }
      
      
      function tableMaker(geneDataset) {
        var clickableName;
        var tbl = $('<table/>').attr("id", "myTable");
        //$("#myTable").append(tbl);
        var tempRefName;
        var fullRefName;
        var result = {};
      
        var th = '<thead><tr><th scope="col" >Reference Name</th><th scope="col">Start</th><th scope="col">End</th> <th scope="col">Length</th><th scope="col">Reference Bases</th><th scope="col">Alternate Bases</th><th scope="col">Frequency</th><th scope="col">Names</th></tr></thead><tbody>';
        $("#myTable").append(th);
      
        var simplifiedObjArray = []
      
        for (var j = 0; j < geneDataset.length; j++) {
            var tempCurrData = JSON.parse(geneDataset[j]);
            var tempObj = {
                'referenceName': tempCurrData['referenceName'],
                'start': tempCurrData['start'],
                'end': tempCurrData['end'],
                'referenceBases': tempCurrData['referenceBases'],
                'alternateBases': tempCurrData['alternateBases'],
                'names': tempCurrData['names']
            }
            simplifiedObjArray.push(JSON.stringify(tempObj));
        }
      
        for (var j = 0; j < simplifiedObjArray.length; j++) {
            if (!result[simplifiedObjArray[j]]) {
                result[simplifiedObjArray[j]] = 0;
            }
            ++result[simplifiedObjArray[j]];
        }
      
        var processedDataset = Object.keys(result);
        var frequencyDataset = Object.values(result);
      
        for (var i = 0; i < processedDataset.length; i++) {
            var currDataset = JSON.parse(processedDataset[i]);
            var tr = "<tr>";
      
            var tempRefName = currDataset["referenceName"];
            if (tempRefName.includes('chr')) {
                fullRefName = tempRefName.replace("chr", "Chromosome ");
            } else fullRefName = "Chromosome " + tempRefName;
      
            var td0 = '<td scope="col">' + fullRefName + "</td>";
            var td1 = '<td scope="col">' + currDataset["start"] + "</td>";
            var length = currDataset["end"] - currDataset["start"];
            var tdLength = '<td scope="col">' + length + "</td>";
            var td2 = '<td scope="col">' + currDataset["end"] + "</td>";
            var td3 = '<td scope="col">' + currDataset["referenceBases"] + "</td>";
            var td4 = '<td scope="col">' + currDataset["alternateBases"] + "</td>";
            var tdFreq = '<td scope="col">' + frequencyDataset[i].toString() + "</td>";
      
            if (currDataset["names"] != undefined) {
                clickableName = "";
                for (var j = 0; j < currDataset["names"].length; j++) {
                    if (currDataset["names"][j].includes('rs')) {
                        if (j > 0) {
                            clickableName += ", "
                        };
                        clickableName += '<a href="' + 'https://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?rs=' + currDataset["names"][j] + '">' + currDataset["names"][j] + '</a>';
                    } else if (currDataset["names"][j].includes('COSM')) {
                        if (j > 0) {
                            clickableName += ", "
                        };
                        clickableName += '<a href="' + 'https://cancer.sanger.ac.uk/cosmic/mutation/overview?id=' + currDataset["names"][j].split('COSM')[1] + '">' + currDataset["names"][j] + '</a>';
                    } else {
                        if (j > 0) {
                            clickableName += ", "
                        };
                        clickableName += ", " + currDataset["names"][j];
                    }
                }
            } else clickableName = 'Not Found';
      
            var td5 = '<td scope="col">' + clickableName + "</td>";
            var td6 = "</tr>";
      
            $("#myTable").append(tr + td0 + td1 + td2 + tdLength + td3 + td4 + tdFreq + td5 + td6);
        }
        $("#myTable").append('</tbody>');
      
        $(document).ready(function() {
            $('#myTable').DataTable();
            document.getElementById("myTable_info").innerHTML += ", aggregated from " + geneDataset.length + " records.";
        });
      
        document.getElementById("title").style.marginTop = "50px";
        document.getElementById("loader").style.display = "none";
      }
      
          
   </script>
</html>